.intro_content {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
}

.intro_content_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.intro_content_inside {
  display: flex;
  flex: 0.5;
  font-weight: 600;
  line-height: 120.94px;
  font-size: 95.38px;
  color: rgba(51, 34, 124, 1);
}

.intro_content_inside_desc {
  font-weight: 400;
  font: 24px;
  color: rgba(135, 135, 135, 1);
}
.intro_button_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.intro_button {
  background: linear-gradient(90deg, #a80097 0%, #6900d2 100%);
  border: none;
  width: 40%;
  height: 28%;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20.07px;
  line-height: 25.45px;
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .intro_content {
    flex: 1;
  }

  .intro_content_box {
    height: 80%;
  }

  .intro_content_inside {
    flex: 0.2;
    font-weight: 600;
    font-size: 50.38px;
  }

  .intro_button_container {
    display: flex;
    width: 90%;
    height: 45%;
    flex-direction: column;
  }

  .intro_button {
    width: 40%;
    height: 18%;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20.07px;
    line-height: 25.45px;
    cursor: pointer;
  }
}
